/*Colors and fonts */

body {
	background: #C9DBD5;
	color: #113c4a;
	font-family: 'Calibri', serif;
	font-size: 14px;
	font-weight: bold;
}

h1, h2, h3 {
	font-family: 'Calibri', sans-serif;
}
h1 {
	color: #113c4a;
	font-size: 30px;
	font-weight: 700;
}
h2 {
	color: #297ca0;
	font-size: 25px;
	font-weight: 700;
}
h2:hover {
	color: #596D66; 
}
a {
	font-family: 'Calibri', sans-serif;
	font-size: 15px;
	text-decoration: none;
	color: #6F7277;
	font-weight: 700;
}
a:hover {
	color: #8A919D;
}

/* Custom design with class */

.container {
	width: 700px;
	margin: 50px auto;
}

@media (max-width: 760px) {
	.container {
		width: 600px;
	}
}

@media (max-width: 500px) {
	.container {
		width: 400px;
	}
}

.card-white {
	background-color: #FFFF;
	padding: 40px;
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.7);
	border-radius: 5px;
	margin: 15px 0px;
	text-align: center;
}

.img-circle {
	border-radius: 75%;
}

.img-Bricoler {
	border-radius: 5%;
}

.img-Musique {
	border-radius: 5%;
}

.img-Voyager {
	border-radius: 5%;
}

.img-Football {
	border-radius: 5%;
}

.btn-blue {
	background-color: #d72323;
	color: white;
	padding: 15px 20px;
	border-radius: 5px;
}

.btn-blue:hover {
	background-color: #113c4a;
	color: white;
	font-size: 17px;
}

.list-inline {
	list-style: none;
	padding-left: 0px;
}

.list-inline li {
	display: inline;
	padding: 10px;
}

.list-inline i {
	font-size: 40px;
	color: #113c4a;
}

.list-inline i:hover {
	font-size: 45px;
	color: #d72323;
}

/* Design adjustments using id */
#introduction p {
	margin-bottom: 40px;
}
